<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <H1>Edit your product</H1>

    <form method="POST" action="/products/<%= product._id %>?_method=PATCH">
      <input
        type="text"
        name="product[title]"
        placeholder="Enter Title"
        value="<%=product.title %>"
      /><br />

      <br />
      <img
        style="height: 100px; padding-top: 6px; padding-left: 4px"
        src="<%=product.images.url %>"
      />
      <!-- <input name="product[images]" type="file" placeholder="Enter new Image" /> -->
      <br />

      <!-- <input
        type="text"
        name="product[images]"
        placeholder="Enter image"
      /><br /> -->
      <input
        type="number"
        name="product[price]"
        placeholder="Enter price"
        value="<%=product.price %>"
      /><br />
      <input
        type="text"
        name="product[location]"
        placeholder="Enter location"
        value="<%=product.location %>"
      /><br />
      <select name="product[tag]">
        <option value="sold">sold</option>
        <option value="unsold">unsold</option>
        <option value="not available">not available</option>
      </select>
      <button type="submit">Edit</button>
    </form>
  </body>
</html>
